## original data

In [2]:
import pandas as pd
import numpy as np

In [3]:
geo = pd.read_csv('../raw_data/NYCTAXI202004-202006_OD/NYCTAXI202004-202006.geo')
print(geo.shape)
geo.head( )

(263, 3)

   geo_id          type                                        coordinates
0       0       Polygon  [[['-74.18445300', '40.69499600'], ['-74.18563...
1       1  MultiPolygon  [[[['-73.81768667', '40.61493300'], ['-73.8165...
2       2       Polygon  [[['-73.84240629', '40.86847474'], ['-73.84280...
3       3       Polygon  [[['-73.97464721', '40.71884235'], ['-73.97347...
4       4       Polygon  [[['-74.17225508', '40.56170484'], ['-74.17348...

In [4]:
geo["type"].value_counts()

Polygon         240
MultiPolygon     23
Name: type, dtype: int64

In [5]:
rel = pd.read_csv('../raw_data/NYCTAXI202004-202006_OD/NYCTAXI202004-202006.rel')
print(rel.shape)
rel.head()

(69169, 5)

   rel_id type  origin_id  destination_id     cost
0       0  geo          0               0      0.0
1       1  geo          0               1  31349.0
2       2  geo          0               2  33747.0
3       3  geo          0               3  17205.0
4       4  geo          0               4  14927.0

In [6]:
od = pd.read_csv('../raw_data/NYCTAXI202004-202006_OD/NYCTAXI202004-202006.od').drop(["type"],axis=1)
print(od.shape)
od.head()

(150995927, 5)

   dyna_id                  time  origin_id  destination_id  flow
0        0  2020-04-01T00:00:00Z          0               0   0.0
1        1  2020-04-01T01:00:00Z          0               0   0.0
2        2  2020-04-01T02:00:00Z          0               0   0.0
3        3  2020-04-01T03:00:00Z          0               0   0.0
4        4  2020-04-01T04:00:00Z          0               0   0.0

## agg od by time   -> data/NYCTAXI_OD_agg.csv

In [9]:
# od_agg = od.groupby(["origin_id","destination_id"]).agg({"flow":"sum"}).reset_index()

In [8]:
# od_agg.to_csv("data/NYCTAXI_OD_agg.csv",index=False)

## join od_agg and rel

In [16]:
od_agg = pd.read_csv("data/NYCTAXI_OD_agg.csv")
od_f = od_agg.copy(deep = True)

od_f["cost"] = rel["cost"]

In [17]:
od_f.to_csv("data/NYCTAXI_OD_f.csv",index=False)